.add{
  display: inline-block;
  line-height:0;
  width: 16px;
  height: 16px;
  border:0 none;
  background-color:transparent;
  margin:2px 2px 0px 5px;
  background-image:url(../../assets/tree/add.png);
  background-position:0px 0px;
  vertical-align:top;
}

.addnode{
  display: inline-block;
  line-height:0;
  width: 16px;
  height: 16px;
  border:0 none;
  background-color:transparent;
  margin:2px 2px 0px 5px;
  background-image:url(../../assets/tree/folder_add.png);
  background-position:0px 0px;
  vertical-align:top;
}

.adddiv{
  display: inline-block;
  line-height:0;
  width: 16px;
  height: 16px;
  border:0 none;
  background-color:transparent;
  margin:2px 2px 0px 5px;
  background-image:url(../../assets/tree/package_in.png);
  background-position:0px 0px;
  vertical-align:top;
}

.move{
  display: inline-block;
  line-height:0;
  width: 16px;
  height: 16px;
  border:0 none;
  background-color:transparent;
  margin:2px 2px 0px 5px;
  background-image:url(../../assets/tree/zTreeStandard.png);
  background-position:0px 0px;
  vertical-align:top;
}

.edit{
  display: inline-block;
  line-height:0;
  width: 16px;
  height: 16px;
  border:0 none;
  background-color:transparent;
  margin:2px 2px 0px 5px;
  background-image:url(../../assets/tree/page_edit.png);
  background-position:0px 0px;
  vertical-align:top;
}

.update{
  display: inline-block;
  line-height:0;
  width: 16px;
  height: 16px;
  border:0 none;
  background-color:transparent;
  margin:2px 2px 0px 5px;
  background-image:url(../../assets/tree/date_go.png);
  background-position:0px 0px;
  vertical-align:top;
}

.remove{
  display: inline-block;
  line-height:0;
  width: 16px;
  height: 16px;
  border:0 none;
  background-color:transparent;
  margin:2px 2px 0px 5px;
  background-image:url(../../assets/tree/bullet_cross.png);
  background-position:0px 0px;
  vertical-align:top;
}

.rmc{
  background-image: url(../../assets/tree/menu.gif);
  background-color: #f0f0f0;
  padding: 2px;
  text-align: left;
  z-index: 999999;
  border: 1px dotted #999;
  border-radius: 5px;
  position: absolute;
}

.rmcul{
  padding: 2px;
  background-color: transparent;
  border: 0 none;
  overflow: hidden;
  overflow-y: hidden;
}


.rmculli{
  list-style: none outside none;
  font-size: 9pt;
  white-space: nowrap;
  display: block;
  padding: 1px;
  margin: 0px;
  text-decoration: none !important;
}

.rmculli:hover{
  background-color: #dbecf4;
  background-image: url(../../assets/tree/item-over.gif);
  border-color: #aaccf6;
  border-style: solid;
  border-width: 1px;
  margin: -1px -1px;
  color: #222;
}

.rmcullia{
  cursor: pointer;
  display: block;
  line-height: 16px;
  font-size: 9pt;
  outline: 0 none;
  padding: 3px 21px 3px 27px;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  color: #222;
}

.rmcullia:hover{
  color: black;
}
